.mainSection {
  position: relative;
  background-position: center;
  background-image: url('../images/1689672889573.JPEG');
  width: 100vw;
  height: 100vh;
<<<<<<< HEAD
  background-size: auto 130%;
=======
  background-size: auto 100%;
>>>>>>> 0aebdef50035065c95b6a38045598ec40b0cf296
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(214, 209, 209);
  overflow: hidden;
<<<<<<< HEAD
  font-family: 'Lato', sans-serif;
  padding-bottom: 50px;
  
=======
  padding-bottom: 50px;
>>>>>>> 0aebdef50035065c95b6a38045598ec40b0cf296

  .textSection {
    margin-top: 447px;
  }
  .name {
    text-align: center;
    color: white;
<<<<<<< HEAD
    font-weight:600;
    word-spacing: 10px;
    font-size: 3rem;
=======
    font-size: 4rem;
   font-style: italic;
>>>>>>> 0aebdef50035065c95b6a38045598ec40b0cf296
    position: relative; /* Ensure the z-index applies to the .name element */
    z-index: 2; /* Place .name element above the pseudo-element */
    margin-bottom: 15px;
  }
  .role {
<<<<<<< HEAD
    text-align: center;
    color: white;
    font-family: "Lato";
    font-size:smaller;
    max-width: 632px;
    margin: auto;
    position: relative; /* Ensure the z-index applies to the .name element */
    z-index: 2; /* Place .name element above the pseudo-element */
    margin-bottom: 15px;

=======
    @extend .name;
    font-size: x-large;
    max-width: 632px;
    margin: auto;
>>>>>>> 0aebdef50035065c95b6a38045598ec40b0cf296
  }
  .moreButton {
    text-align: center;
    color: white;
    font-weight:600;
    position: relative; /* Ensure the z-index applies to the .name element */
    z-index: 2; /* Place .name element above the pseudo-element */
    margin-bottom: 15px;
    background-color: transparent;
    font-size: 0.7rem;
    padding:10px 20px;
    border-radius: 0%;
    border-width:2px;
  }
  .gitImage {
    color: white;
    font-size: 4rem;
    position: relative;
    z-index: 2;
    width: 5%;
  }
}

/* Add a pseudo-element ::before to create the shading effect */
.mainSection::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 5, 5, 0.863);
  font-family: 'Lato', sans-serif;
  z-index: 1; /* Ensure the pseudo-element is behind the .name element (default z-index is 0) */
}

.subSection {
  .profileHeading {
    margin-top: 3rem;
  }
  .postImg {
    width: 100%;
    border-radius: 15px;
  }
  .profilePara {
    color: #585858;
  }
  .imageCol {
    padding: 40px 85px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  .mainSection {
    width: 100vw;
    height: 100vh;
    background-size: auto 100%;

    .textSection {
<<<<<<< HEAD
      margin-top: 311px;
=======
      margin-top: 237px;
>>>>>>> 0aebdef50035065c95b6a38045598ec40b0cf296
    }
    .role {
      max-width: 233px;
    }
        .name {
<<<<<<< HEAD
      font-size: 22px;
=======
      font-size: 5px;
>>>>>>> 0aebdef50035065c95b6a38045598ec40b0cf296
    }
  }
  .mainSection::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 19, 19, 0.863);
    z-index: 1; /* Ensure the pseudo-element is behind the .name element (default z-index is 0) */
  }
  .subSection {
    .imageCol {
      padding: 20px 10px;
    }
  }
}
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .mainSection {
    width: 100vw;
    height: 100vh;
    background-size: auto 100%;
    .textSection {
<<<<<<< HEAD
      margin-top: 337px;
=======
      margin-top: 237px;
>>>>>>> 0aebdef50035065c95b6a38045598ec40b0cf296
    }
    .name {
      font-size: 25px;
    }
    .role {
      max-width: 333px;
    }
    .role {
      max-width: 333px;
    }
  }
  .mainSection::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 19, 19, 0.863);
    z-index: 1; /* Ensure the pseudo-element is behind the .name element (default z-index is 0) */
  }
  .subSection {
    .imageCol {
      padding: 25px 13px;
    }
  }
}
.boldy{
  font-weight: bold;
  color: black;
}
@media only screen and (min-width: 500px) and (max-width: 768px) {
  .mainSection {
    width: 100vw;
    height: 100vh;
    background-size: auto 100%;
    .textSection {
<<<<<<< HEAD
      margin-top: 400px;
=======
      margin-top: 280px;
>>>>>>> 0aebdef50035065c95b6a38045598ec40b0cf296
    }
    .role {
      max-width: 581px;
    }
        .name {
<<<<<<< HEAD
      font-size: 34px;
=======
      font-size: 14px;
>>>>>>> 0aebdef50035065c95b6a38045598ec40b0cf296
    }
  }
  .mainSection::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 19, 19, 0.863);
    z-index: 1; /* Ensure the pseudo-element is behind the .name element (default z-index is 0) */
  }
  .subSection {
    .imageCol {
      padding: 25px 13px;
    }
  }
}
@media only screen and (min-width: 770px) and (max-width: 1200px) {
  .mainSection {
    width: 100vw;
    height: 100vh;
    background-size: auto 100%;
<<<<<<< HEAD
=======

        .name {
      font-size: 20px;
    }
>>>>>>> 0aebdef50035065c95b6a38045598ec40b0cf296
  }
  .mainSection::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 19, 19, 0.863);
    z-index: 1; /* Ensure the pseudo-element is behind the .name element (default z-index is 0) */
  }
}
