.mainSection {
  position: relative;
  background-position: center;
  background-image: url("../images/1689672889573.JPEG");
  width: 100vw;
  height: 100vh;
<<<<<<< HEAD
  background-size: auto 130%;
=======
  background-size: auto 100%;
>>>>>>> 0aebdef50035065c95b6a38045598ec40b0cf296
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(214, 209, 209);
  overflow: hidden;
<<<<<<< HEAD
  font-family: "Lato", sans-serif;
=======
>>>>>>> 0aebdef50035065c95b6a38045598ec40b0cf296
  padding-bottom: 50px;
}
.mainSection .textSection {
  margin-top: 447px;
}
<<<<<<< HEAD
.mainSection .name {
  text-align: center;
  color: white;
  font-weight: 600;
  word-spacing: 10px;
  font-size: 3rem;
  position: relative; /* Ensure the z-index applies to the .name element */
  z-index: 2; /* Place .name element above the pseudo-element */
  margin-bottom: 15px;
}
.mainSection .role {
  text-align: center;
  color: white;
  font-family: "Lato";
  font-size: smaller;
  max-width: 632px;
  margin: auto;
  position: relative; /* Ensure the z-index applies to the .name element */
  z-index: 2; /* Place .name element above the pseudo-element */
  margin-bottom: 15px;
=======
.mainSection .name, .mainSection .moreButton, .mainSection .role {
  text-align: center;
  color: white;
  font-size: 4rem;
  font-style: italic;
  position: relative; /* Ensure the z-index applies to the .name element */
  z-index: 2; /* Place .name element above the pseudo-element */
  font-family: monospace;
}
.mainSection .role {
  font-size: x-large;
  max-width: 632px;
  margin: auto;
>>>>>>> 0aebdef50035065c95b6a38045598ec40b0cf296
}
.mainSection .moreButton {
  text-align: center;
  color: white;
  font-weight: 600;
  position: relative; /* Ensure the z-index applies to the .name element */
  z-index: 2; /* Place .name element above the pseudo-element */
  margin-bottom: 15px;
  background-color: transparent;
  font-size: 0.7rem;
  padding: 10px 20px;
  border-radius: 0%;
  border-width: 2px;
}
.mainSection .gitImage {
  color: white;
  font-size: 4rem;
  position: relative;
  z-index: 2;
  width: 5%;
}

/* Add a pseudo-element ::before to create the shading effect */
.mainSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 5, 5, 0.863);
<<<<<<< HEAD
  font-family: "Lato", sans-serif;
=======
>>>>>>> 0aebdef50035065c95b6a38045598ec40b0cf296
  z-index: 1; /* Ensure the pseudo-element is behind the .name element (default z-index is 0) */
}

.subSection .profileHeading {
  margin-top: 3rem;
}
.subSection .postImg {
  width: 100%;
  border-radius: 15px;
}
.subSection .profilePara {
  color: #585858;
}
.subSection .imageCol {
  padding: 40px 85px;
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
  .mainSection {
    width: 100vw;
    height: 100vh;
    background-size: auto 100%;
  }
  .mainSection .textSection {
<<<<<<< HEAD
    margin-top: 311px;
=======
    margin-top: 237px;
>>>>>>> 0aebdef50035065c95b6a38045598ec40b0cf296
  }
  .mainSection .role {
    max-width: 233px;
  }
  .mainSection .name {
    font-size: 22px;
  }
  .mainSection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 19, 19, 0.863);
    z-index: 1; /* Ensure the pseudo-element is behind the .name element (default z-index is 0) */
  }
  .subSection .imageCol {
    padding: 20px 10px;
  }
}
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .mainSection {
    width: 100vw;
    height: 100vh;
    background-size: auto 100%;
  }
  .mainSection .textSection {
<<<<<<< HEAD
    margin-top: 337px;
  }
  .mainSection .name {
    font-size: 25px;
=======
    margin-top: 237px;
>>>>>>> 0aebdef50035065c95b6a38045598ec40b0cf296
  }
  .mainSection .role {
    max-width: 333px;
  }
  .mainSection .role {
    max-width: 333px;
  }
  .mainSection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 19, 19, 0.863);
    z-index: 1; /* Ensure the pseudo-element is behind the .name element (default z-index is 0) */
  }
  .subSection .imageCol {
    padding: 25px 13px;
  }
}
<<<<<<< HEAD
.boldy {
  font-weight: bold;
  color: black;
}

=======
>>>>>>> 0aebdef50035065c95b6a38045598ec40b0cf296
@media only screen and (min-width: 500px) and (max-width: 768px) {
  .mainSection {
    width: 100vw;
    height: 100vh;
    background-size: auto 100%;
  }
  .mainSection .textSection {
<<<<<<< HEAD
    margin-top: 400px;
=======
    margin-top: 280px;
>>>>>>> 0aebdef50035065c95b6a38045598ec40b0cf296
  }
  .mainSection .role {
    max-width: 581px;
  }
  .mainSection .name {
    font-size: 34px;
  }
  .mainSection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 19, 19, 0.863);
    z-index: 1; /* Ensure the pseudo-element is behind the .name element (default z-index is 0) */
  }
  .subSection .imageCol {
    padding: 25px 13px;
  }
}
@media only screen and (min-width: 770px) and (max-width: 1200px) {
  .mainSection {
    width: 100vw;
    height: 100vh;
    background-size: auto 100%;
<<<<<<< HEAD
=======
  }
  .mainSection .name, .mainSection .role, .mainSection .moreButton {
    font-size: 20px;
>>>>>>> 0aebdef50035065c95b6a38045598ec40b0cf296
  }
  .mainSection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 19, 19, 0.863);
    z-index: 1; /* Ensure the pseudo-element is behind the .name element (default z-index is 0) */
  }
}/*# sourceMappingURL=style.css.map */